@page
@model GestionWeb.Areas_Oficios_Pages_fold.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Oficios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Oficios.Numero" class="control-label"></label>
                <input asp-for="Oficios.Numero" class="form-control" />
                <span asp-validation-for="Oficios.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.Oficio" class="control-label"></label>
                <input asp-for="Oficios.Oficio" class="form-control" />
                <span asp-validation-for="Oficios.Oficio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.IdEmisor" class="control-label"></label>
                <select asp-for="Oficios.IdEmisor" class ="form-control" asp-items="ViewBag.IdEmisor"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.IdDepartamento" class="control-label"></label>
                <select asp-for="Oficios.IdDepartamento" class ="form-control" asp-items="ViewBag.IdDepartamento"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.IdTipo" class="control-label"></label>
                <select asp-for="Oficios.IdTipo" class ="form-control" asp-items="ViewBag.IdTipo"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.Asunto" class="control-label"></label>
                <input asp-for="Oficios.Asunto" class="form-control" />
                <span asp-validation-for="Oficios.Asunto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Oficios.Archivado" /> @Html.DisplayNameFor(model => model.Oficios.Archivado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.IdReceptor" class="control-label"></label>
                <select asp-for="Oficios.IdReceptor" class ="form-control" asp-items="ViewBag.IdReceptor"></select>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.FechaRecepcion" class="control-label"></label>
                <input asp-for="Oficios.FechaRecepcion" class="form-control" />
                <span asp-validation-for="Oficios.FechaRecepcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oficios.IdUsuario" class="control-label"></label>
                <select asp-for="Oficios.IdUsuario" class ="form-control" asp-items="ViewBag.IdUsuario"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

